*{
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}
.container{
    display: flex;
}
nav{
    background-color:pink;
    height: 100vh;
    width: 15vw;
}
header{
    background-color: rgb(227, 181, 110);
    width: 90vw;
    height: 25vh;
}
article{
    width:45vw;
    height: 50vh;
}
aside{
    background-color: turquoise;
    width:45vw;
    height: 50vh;
}
footer{
    background-color: rgb(227, 181, 110);
    height: 25vh;
}
.con2{
    display: flex;
}
.con3{
    display: flex;
    
}
